ul.member-options {
    display: flex;
    gap: 10px;
}

.members-table-container {
    margin: 20px auto;
    height: calc(100vh - 200px);
    overflow: auto;
}

.members-table {
    position: relative;
}

.members-table .members-table-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.members-table .members-table-header th {
    background: #f9f9f9;
    border-bottom: 2px solid #ddd;
}
